# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/

# Ignora la carpeta de compilación de Maven (esté en la raíz o en subcarpetas)
**/target/
target/

# Archivos de sistema/configuración pesados de Java
*.jar
*.war
*.ear
*.class
